<script src="/js/validacion.js"></script>

<div class="cont-g">
	<div class="cont-ed-per">
		<div class="titulo-ed-per">
			<p>Registro de empleados</p>
		</div>
		<!-- Llama a un archivo js-->
		<!-- Se crea un formulario con la funcion de editar -->
		<form class="form" action="/registraPer" method="post" onsubmit="return validar ();">

			<div class="pipipi">
				<label for="apellido"> Apellido(s)</label>
				<input type="text" id="apellido" name="apellido" pattern="[A-Z a-z áéíóúÁÉÍÓÚñÑ]*" minlength="3"
					maxlength="40" required>
			</div>

			<div class="pipipi">
				<label for="nombre"> Nombre(s)</label>
				<input type="text" id="nombre" name="nombre" pattern="[A-Z a-z áéíóúÁÉÍÓÚñÑ]*" minlength="3"
					maxlength="30" required>
			</div>


			<div class="pipipi">
				<label for="telefono" Número de teléfono> Número de teléfono </label>
				<input type="tel" id="tel" name="telefono" minlength="10" maxlength="10" required>
			</div>

			<div class="pipipi">
				<label for="email"> Email </label>
				<input type="email" id="email" name="email" minlength="0" maxlength="50" required>
			</div>

			<div class="pipipi">
				<label for="password"> Contraseña </label>
				<input type="password" id="password" name="password" placeholder="" minlength="8" maxlength="25">
			</div>

			<div class="pipipi">
				<label for="password"> Confirmar contraseña </label>
				<input type="password" id="password" name="password1" placeholder="" minlength="8" maxlength="25">
			</div>

			<div class="pipipi">
				<label for="rol" class="form-label"> Rol </label>
				<select id="rol" name="rol" class="form-control text-bg-light" minlength="1" maxlength="1" required>
					{{#each rows}}
					<option value="{{id_tip_empleado}}">{{descripcion}}</option>
					{{/each}}
				</select requiered>
			</div>

			<input type="hidden" name="status" value="0">


			{{#if errora}}
			<p style="color: black;">{{errora}}</p>
			{{/if}}

			<div class="cont-btn-gc">
				<input type="submit" value="Registrar nuevo empleado" class="btn-g-c-2" id="btnRegEmpleado">
			</div>
		</form>
	</div>
</div>