<style>
	.filtro {
		display: none;
	}
</style>
<script src="/js/filtro.js"></script>
<div class="contenedor_principal-sc">
    <!--Espacio para la barra de busqueda y el boton de codigo qr-->
    <div class="espacio-busqueda">
        <div class="busqueda-flotante">
            <form action="" method="get" class="bar-buscar">
                <input type="text" placeholder="Buscar cuenta" name="buscar" class="input-buscar">
                <img src="imagenes/icon-lupa.png" alt="" class="icon-lupa">
            </form>
            <button class="btn-filtar-infractores">
                Infractores
            </button>
        </div>
    </div>
    <!--Contenedor para los pedidos pendientes de entregar-->
    <div class="contenedor-cuentas">
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>
        <!--Tarjeta para suspender una cuenta-->
        <div class="tarjeta-cuenta">
            <div class="correo-cuenta">
                <h3 class="titulo-cuenta">
                    Cuenta
                </h3>
                <h3 class="correo-cuenta">
                    21301061551234@cetis155.edu.mx
                </h3>
            </div>
            <div class="espacio-acciones">
                <h3 class="titulo-acciones">
                    Acciones
                </h3>
                <div class="acciones-cuenta">
                    <button class="btn-suspender-cuenta">
                        Suspender
                    </button>
                </div>
            </div>
        </div>


    </div>
</div>