* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/*Configuracion del cuerpo de la página*/
body {
    background: rgb(255, 255, 255);
}

header{
    width: 100%;
    height: 110px;
    position: fixed;
}

nav {
    width: 100%;
    background: rgb(13, 59, 111);
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    height: 80px;
    padding: 0 5%;
}



nav .marca .marca_qr{
    align-items: center;
    display: flex;
    flex-direction: row;
}

/*Configuración del logo del sistema*/
.logo {
    height: 60px;
}
.qr{
    height: 50px;
    margin-left: 48%;
}
/*Configuración del contenedor para (elemento_usuario)*/
nav .info_usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .info_usuario .elemento_usuario {
    color: white;
    margin: 2px 6px;
    font-weight: 700;
}

.icono_usuario {
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
}
.icono_usuarioR {
    margin-left: 100%;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
}
.menu-escondido {
    position: absolute;
    top: 108px;
    left: 70%;
    width: 295px;
    background-color: #e3e4e4;
    border-radius: 10%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.45s;
    z-index: 2;
}

.menu-escondido.open-menu {
    max-height: 400px;
    z-index: 2;
}

.sub-menu {
    background-color: #f3f3f3;
    padding: 20px;
    margin: 10px;
    border-radius: 10%;
    z-index: 2;
}

.sub-menu h3 {
    margin-bottom: 10px;
}

.usu {
    font-size: 200;
    margin-top: 7.8%;
    margin-left: -5%;
    background-color: rgb(186, 216, 249);
    width: 100%;
    position: fixed;

}

.usu h2 {
    margin-left: 20px;
}

.rqr {
    display: inline-block;
    margin-left: -5%;
}



.iconoFondoBlanco {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.iconoQR {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;

}


/*CONTENIDO*/

.contenedor_general {
    width: 90%;
    padding-top: 130px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.contenedor_izquierdo {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.nombre_pedidos_pendientes {
    margin-left: 5%;
    color: white;
    background: black;
    width: 200%;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}


.nombre_pedidos_proceso {
    color: white;
    background: black;
    width: 100%;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}




.caja_info-ppe {
    width: 200%;
    margin-left: 5%;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 3px solid #f3f3f3;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 4px 15px 0px rgb(214, 214, 214);
    justify-content: space-between;
}

.caja_folio-ppe {
    width: 19%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: rgb(107, 148, 186);
    border-radius: 10px;
    font-weight: 700;
}

.caja_total-ppe {
    width: 22%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(120, 168, 203);
    border-radius: 10px;
    font-weight: 700;
    margin-right: 10%;
}

.caja_acciones-ppe {
    width: 43%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(209, 209, 209);
    border-radius: 10px;
    font-weight: 700;
}

/*Contenedor para los pedidos*/
.caja-pedidos-ppe {
    margin-left: 5%;
    width: 200%;
    margin-top: 25px;

}

.pedido_pendiente {
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 3px solid #f3f3f3;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 4px 15px 0px rgb(214, 214, 214);
    justify-content: space-between;
}

.espacio_folio-ppe {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(209, 209, 209);
    border-radius: 10px;
    font-weight: 700;
}

.espacio_total-ppe {
    width: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(209, 209, 209);
    border-radius: 10px;
    font-weight: 700;
    margin-left: 4% !important;
}

.espacio_acciones-ppe {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    display: flex;
    margin: 0px;
    margin-left: 10%;
}


.b-To-to {
    margin-top: -15.2% !important;
    margin-bottom: 17% !important;
}


.btn-ver_pedido-ppe {
    color: white;
    background-color: rgb(11, 87, 175);
    padding: 10px 45px;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 10%;
}

.btn-ver2_pedido-ppe {
    border: 2px solid rgb(11, 87, 175);
    background-color: rgb(255, 255, 255);
    padding: 10px 45px;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 5%;
    white-space: nowrap;
}


.caja_info-ppr {
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 3px solid #f3f3f3;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 4px 15px 0px rgb(214, 214, 214);
    justify-content: space-between;
}

.caja_folio-ppr {
    color: white;
    background: rgb(160, 169, 151);
    padding: 5px 40px;
    border-radius: 4px;
    font-weight: 700;
}

.caja_total-ppr {
    background: rgb(186, 180, 165);
    padding: 5px 30px;
    border-radius: 4px;
    font-weight: 700;
    margin-left: -22px;
}

.caja_acciones-ppr {
    background: rgb(209, 209, 209);
    padding: 5px 60px;
    border-radius: 4px;
    font-weight: 700;
}

/*Contenedor para los pedidos*/
.caja-pedidos-ppr {
    width: 100%;
    margin-top: 25px;
}

.pedido_proceso {
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 3px solid #f3f3f3;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 4px 15px 0px rgb(214, 214, 214);
    justify-content: space-between;
}

.espacio_folio-ppr {
    background: rgb(209, 209, 209);
    padding: 5px 40px;
    border-radius: 4px;
    font-weight: 700;
}

.espacio_total-ppr {
    background: rgb(209, 209, 209);
    padding: 5px 30px;
    border-radius: 4px;
    font-weight: 700;
}



.btn-l a {
    /*background-color: #0b6c1489;*/
    background-color: #c9a14e;
    cursor: pointer;
    margin-top: -60px;
    position: absolute;
    margin-left: 10px;
    width: 15%;
    padding: 0.8%;
    text-align: center;
    border-radius: 20px;
    white-space: nowrap;
    color: #000000;
    font-size: 120%;
}


.btn-l1 a {
    background-color: rgb(11, 87, 175);
    cursor: pointer;
    padding-top: -50px;
    position: absolute;
    margin-left: 50px;
    width: 17%;
    padding: 1%;
    text-align: center;
    border-radius: 20px;
    white-space: nowrap;
    color: white;
    font-size: 120%;
    margin-top: -5%;
    font-weight: 700;
}

.btn-l2 a {
    background-color: #c9a14e;
    cursor: pointer;
    margin-top: -60px;
    position: absolute;
    margin-left: 10px;
    width: 15%;
    padding: 0.8%;
    text-align: center;
    border-radius: 20px;
    white-space: nowrap;
    color: #000000;
    font-size: 120%;
}

.btn-ver_pedido-ppr {
    background: rgb(255, 255, 255);
    padding: 10px 60px;
    border: solid 2px black;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
}








h1 {
    margin-bottom: 30px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    padding: 20px;
}

.header {
    background-color: #c9a14e;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

.header .logo img {
    height: 70px;
    width: auto;
    position: relative;
    left: -1600%;
}


.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:nth-child(1) {
    padding: 0 20px 0 0;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ffbc0e;
}

.header .btn {
    order: 2;
}

.header .btn button {
    width: 170px;
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 5px 20px;
    background: #ece5d0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #000000;
    transform: scale(1.1);
}

h1 {
    margin-bottom: 30px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    padding: 20px;
}

.container {
    width: 800px;
    height: auto;
    background-color: white;
    box-shadow: 5px 10px 15px 15px rgb(214 214 214);
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    margin-top: 110px;
}

.info-folio {
    display: inline-flex;
    margin-bottom: 5px;
    text-align: center;

}

.folio h1 {
    margin: 15px 20px;
    font-size: 25px;
}

.info p {
    text-align: center;
    margin-top: 30px;
}

.info p:not(:first-child) {
    margin-top: 10px;
}

.flex-box-info {
    background-color: white;
    max-width: 98%;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.box-Pr {
    background-color: #f3f3f3;
    width: 45%;
    color: #444444;
    border: 3px solid #f3f3f3;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    border-radius: 7px;
    font-weight: 700;
}

.box-Ca {
    background-color: #f3f3f3;
    width: 20%;
    color: #444444;
    border: 3px solid #f3f3f3;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    margin-left: 10px;
    border-radius: 7px;
    font-weight: 700;
}

.box-To {
    background-color: #f3f3f3;
    width: 25%;
    color: #444444;
    border: 3px solid #f3f3f3;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 7px;
    font-weight: 700;
}

.flex-box-i {
    background-color: white;
    width: 98%;
    border-radius: 10px;
    border: 3px solid white;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    margin-top: 15px;
    display: flex;
}

.b-Pr {
    width: 45%;
    color: rgb(0, 0, 0);
    border: 3px solid white;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    border-radius: 7px;

}

.b-Ca {
    width: 20%;
    color: rgb(0, 0, 0);
    border: 3px solid white;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    border-radius: 7px;

}

.b-To-to {
    background-color: #f3f3f3;
    width: 25%;
    color: rgb(0, 0, 0);
    border: 3px solid #f3f3f3;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    border-radius: 7px;
    margin-left: -25%;
    margin-top: -8.5%;
    margin-bottom: 9%;
}

.b-To {
    width: 25%;
    color: rgb(0, 0, 0);
    border: 3px solid white;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    border-radius: 7px;
}

.b-To-2 {
    background-color: #f3f3f3;
    width: 25%;
    color: rgb(0, 0, 0);
    border: 3px solid #f3f3f3;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    border-radius: 7px;
}

.btn button {
    background-color: #d8bc5e;
    width: 25%;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    padding: 8px 5px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}


.progress-barp {
    display: block;
    background-color: transparent;
    height: 40px;
    padding: 15px;
    width: 180px;
    margin: 40px;
    border-radius: 10px;
    margin-left: 590px;
    margin-top: -50px;
    box-shadow: 0 1px 5px #8f8d8d inset, 0 1px 0 #aea7a7;

}

.progress-barp a {
    display: block;
    padding: 3px;
    font-size: 17px;
    margin-top: -18px;
    left: 10px;
}

.progress-barp .line {
    width: 150px;
    height: 13px;
    border-radius: 10px;
    background-color: rgb(38, 0, 255);
    margin: 10;
}


.progress-baro {
    display: block;
    background-color: transparent;
    height: 40px;
    padding: 15px;
    width: 180px;
    margin: 40px;
    border-radius: 10px;
    margin-left: 590px;
    margin-top: -50px;
    box-shadow: 0 1px 5px #8f8d8d inset, 0 1px 0 #aea7a7;

}

.progress-baro a {
    display: block;
    padding: 3px;
    font-size: 17px;
    margin-top: -18px;
    left: 10px;
}

.progress-baro .line {
    width: 150px;
    height: 13px;
    border-radius: 10px;
    background-color: rgb(255, 42, 0);
    margin: 10;
}

.btn-ppen {
    background-color: #d8bc5e;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    color: white;
    margin-left: 2%;
    white-space: nowrap;
}

.btn-cerrarSesion {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(107, 148, 186);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



@media (min-width: 750px) {
    .barraBusqueda {
        height: 50%;
        width: 30%;
        margin-left: 8% !important;
        position: absolute;

    }

    .busBox {
        height: 50%;
        width: 70% !important;
    }

    .icono_responsivo {
        display: none;
    }

    .icono_responsivomenu {
        display: none;
    }

    .btn-ppen {
        display: none;
    }

    .icono_usuario {
        display: inline;
    }



    .elemento_usuario {
        display: inline;
    }

    .elem {
        display: inline;
    }

    .menu-escondido .icono_usuarioR {
        display: none;
    }

    .menu-escondido .isaac {
        display: none;
    }




}


@media (max-width: 437px) {
    .qr{
        height: 50px;
        margin-left: 1000%;
    }

    .rqr{
        margin-left: 46%;
    }
    .subtitulo {
        color: white;
        background: black;
        width: 100% !important;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
    
    }

    .icono_responsivo {
        display: inline;
        width: 18%;
        margin-left: 80%;
        cursor: pointer;
        border: 0;
    }
    .conqr {
        width: 90%;
        height: 320px;
        background-color: white;
        border: 3px solid black;
        margin-left: 5%;
        margin-top: 5%;
        border-radius: 10px;
    }

    .qr-canvas{
        width: 50%;
        margin-left: 25%;
    }
    .barraBusqueda {
        height: 50%;
        width: 35% !important;
        margin-left: -25% !important;
        left: 7%;
        

    }

    .busBox {
        height: 50%;
        width: 70% !important;
    }

    


    .icono_usuario {
        display: inline;
    }

    .elem {
        display: none;
    }

    .menu-escondido .icono_usuarioR {
        display: inline;
        width: 21%;
        float: right;
        margin-top: -13px;
        border-radius: 20px;
    }

    .menu-escondido .isaac {
        display: inline-block;
        margin-left: 10px;


    }

    .max {
        margin-top: 20px;
        background-color: #fffefc;
        border-radius: 10px;
        padding: 20px;
    }

    .checkbtn {
        display: none;
    }

    .conpp {
        margin-top: 30%;
        margin-right: 150px;
    }

    .usu {
        margin-top: 26.5% !important;
    }

    .flex-boxqr {
        width: 130%;

    }

    .box {
        font-size: 70%;
        margin-top: 20px;
    }

    .conqr {
        width: 80% !important;
        height: 300px !important;
        margin-top: 20px !important;
        margin-left: 32px !important;
    }

    .menu-escondido {
        margin-left: -60%;
        width: 80%;
    }


    .box-To,
    .b-To,
    .b-To-2, .b-To-to {
        display: none;
    }


    .contenedor_izquierdo {
        order: 2;
        margin-top: 20px;
    }

    .contenedor_general {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }


    .contenedor_izquierdo {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .nombre_pedidos_proceso {
        margin-left: 0% !important;
        color: white;
        background: black;
        width: 100%;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
    }

    .caja_info-ppr {
        width: 100%;
        background-color: #f3f3f3;
        border-radius: 10px;
        border: 3px solid #f3f3f3;
        font-size: 20px;
        text-align: center;
        margin-top: 25px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        box-shadow: 2px 4px 15px 0px rgb(214, 214, 214);
        justify-content: space-between;
    }

    .caja_folio-ppr {
        width: 60%;
        color: white;
        background: rgb(160, 169, 151);
        text-align: center;
        border-radius: 4px;
        font-weight: 700;
    }

    .caja_total-ppr {
        width: 35%;
        background: rgb(222, 214, 194);
        border-radius: 4px;
        font-weight: 700;
    }

    .caja_acciones-ppr {
        display: none;
    }

    /*Contenedor para los pedidos*/
    .caja-pedidos-ppr {
        width: 100%;
        margin-top: 25px;
    }

    .pedido_proceso {
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 4px 15px 0px rgb(214, 214, 214);
        justify-content: space-between;
    }

    .datos {
        width: 100%;
        justify-content: space-between;
    }

    .espacio_folio-ppr {
        width: 60%;
        background: rgb(209, 209, 209);
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-radius: 5px;
        font-weight: 700;
    }

    .espacio_total-ppr {
        width: 35%;
        background: rgb(209, 209, 209);
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-radius: 5px;
        font-weight: 700;
        margin-top: -14%;
        margin-left: 65% ;
    }


    .espacio_acciones-ppr {
        margin-top: 20px;
    }

    .btn-ver_pedido-ppr {
        background: rgb(255, 255, 255);
        width: 40%;
        margin-left: 13%;
        margin-right: 30%;
        margin-top: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 40px;
        font-weight: 700;
        cursor: pointer;
        white-space: nowrap;
    }



    .nombre_pedidos_pendientes {
        margin-left: 0% !important;
        color: white;
        background: black;
        width: 100%;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
    }

    .caja_info-ppe {
        margin-left: 0% !important;

        width: 100%;
        background-color: #f3f3f3;
        border-radius: 10px;
        border: 3px solid #f3f3f3;
        font-size: 20px;
        text-align: center;
        margin-top: 25px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        box-shadow: 2px 4px 15px 0px rgb(214, 214, 214);
        justify-content: space-between;
    }

    .caja_folio-ppe {
        width: 60%;
        text-align: center;
        border-radius: 4px;
        font-weight: 700;
    }

    .caja_total-ppe {
        width: 35%;
        border-radius: 4px;
        font-weight: 700;
        margin-right: 1% !important;
    }

    .caja_acciones-ppe {
        display: none;
    }




    /*Contenedor para los pedidos*/
    .caja-pedidos-ppe {
        margin-left: 0% !important;
        width: 100%;
        margin-top: 25px;
    }

    .pedido_pendiente {
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 4px 15px 0px rgb(214, 214, 214);
        justify-content: space-between;
    }

    .datos {
        width: 100%;
        justify-content: space-between;
    }

    .espacio_folio-ppe {
        width: 60%;
        background: rgb(209, 209, 209);
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-radius: 5px;
        font-weight: 700;
        margin-left: -40%;
    }

    .espacio_total-ppe {
        width: 35%;
        background: rgb(209, 209, 209);
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-radius: 5px;
        font-weight: 700;
        margin-top: -14%;
        margin-left: 65% !important;
    }

    .espacio_acciones-ppe {
        margin-top: 20px;
        margin-left: -6%;
    }

    .espacio_acciones-ppe2 {
        width: 20% !important;
        margin-top: 10px;
    }

    .btn-ver_pedido-ppe {
        padding: 10px 20px !important;
        margin-left: 2%;
        margin-right: 45%;
        border-radius: 40px;
        font-weight: 700;
        cursor: pointer;
        white-space: nowrap;
    }

    .btn-ver2_pedido-ppe {
        padding: 10px 25px !important;
        margin-left: -40% !important;
        border-radius: 45px;
        font-weight: 700;
        cursor: pointer;
        white-space: nowrap;
    }




    .container {
        margin-top: 30%;
        width: 100%;
        
    }

    .progress-barp {
        margin-left: 45%;
    }

    .progress-baro {
        margin-left: 45%;
    }

    .box-Pr {
        width: 180%;
    }

    .box-Ca {
        width: 180%;
    }


    .flex-box-i {
        width: 90%;
    }

    .b-Ca {
        width: 10%;
        margin-left: 20%;

    }

    .btn-l1 a {
        padding: 15px;
        margin-left: 37px;
        width: 70%;
        margin-top: -30%;

    }

    .btn-l2 a {
        padding: 15px;
        margin-left: 37px;
        width: 70%;

    }

}


/*tablets */

@media (min-width: 424px) {


    .flex-box-i {
        width: 100%;
        margin-left: 0%;

    }

    .barraBusqueda {
        height: 50%;
        width: 30%;
        margin-left: 12% !important;
        position: absolute;

    }

    .busBox {
        height: 50%;
        width: 70% !important;
    }

    .icono_responsivo {
        display: none;
    }

    .icono_responsivomenu {
        display: none;
    }

    .btn-ppen {
        display: none;
    }

    .icono_usuario {
        display: inline;
    }



    .nto_usuario {
        display: inline;
    }

    .elem {
        display: inline;
    }

    .menu-escondido .icono_usuarioR {
        display: none;
    }

    .menu-escondido .isaac {
        display: none;
    }




}


@media (max-width: 450px) {

    .icono_responsivo {
        display: inline;
        width: 18%;
        margin-left: 80%;
        cursor: pointer;
        border: 0;
    }

    .barraBusqueda {
        height: 50%;
        width: 50%;
        margin-left: 17% !important;
        position: absolute;

    }

    .busBox {
        height: 50%;
        width: 70% !important;
    }

    .icono_responsivomenu {
        display: inline;
        width: 15%;
        margin-left: 90%;
        cursor: pointer;
    }


    .icono_usuario {
        display: inline;
    }

    .elem {
        display: none;
    }

    .menu-escondido .icono_usuarioR {
        display: inline;
        width: 21%;
        float: right;
        margin-top: -13px;
        border-radius: 20px;
    }

    .menu-escondido .isaac {
        display: inline-block;
        margin-left: 20px;


    }

    .max {
        margin-top: 20px;
        background-color: #fffefc;
        border-radius: 10px;
        padding: 20px;
    }

    .checkbtn {
        display: none;
    }

    .conpp {
        margin-top: 30%;
        margin-right: 150px;
    }



}

@media only screen and (min-width: 1768px) and (max-width: 1048px) {
    .btn-ver2_pedido-ppe {
        padding: 10px 35px !important;
        margin-left: 5% !important;
        border-radius: 45px;
        font-weight: 700;
        cursor: pointer;
        white-space: nowrap;
    }

    .usu {
        top: 10%;
    }

    .menu-escondido {
        margin-left: -10%;
    }

    /*home*/


    ._pedidos_proceso {
        width: 115%;
        margin-left: -1%;
    }



    .espacio_folio-ppe {
        margin-left: -2%;
    }

    .caja_folio-ppe {
        width: 18%;
        margin-left: -1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja_total-ppe {
        width: 18%;
        margin-left: -1%;
    }

    .caja_acciones-ppe {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .espacio_total-ppe {
        margin-left: 3%;
    }

    .btn-ver_pedido-ppe {
        margin-left: 15%;
        padding: 10px 20px;

    }

    .btn-ver_pedido-ppr {
        white-space: nowrap;
        padding: 10px;
        margin-left: 8%;
    }


    .caja_info-ppr {
        margin-left: -1%;
        width: 115%;
    }

    .pedido_proceso {
        width: 115%;
    }


    .caja_folio-ppr {

        width: 30%;
        margin-left: -3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja_total-ppr {
        width: 30%;
        margin-left: -1%;
    }

    .caja_acciones-ppr {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .espacio_folio-ppr {
        margin-left: -4%;
    }

    /*pedidos*/
    .container {
        width: 100%;

    }

    .progress-barp {
        margin-left: 70%;
    }

    .progress-baro {
        margin-left: 70%;
    }

    .btn-l1 a {
        padding: 1%;
        width: 25%;
        margin-left: 10%;
    }

    .btn-l2 a {
        padding: 1%;
        width: 25%;
        margin-left: 10%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1048px) {
    .b-To-to {
        margin-top: -17% !important;
        margin-bottom: 19% !important;
    }

    .btn-ver2_pedido-ppe {
        padding: 10px 35px !important;
        margin-left: 5% !important;
        border-radius: 45px;
        font-weight: 700;
        cursor: pointer;
        white-space: nowrap;
    }

    .rqr{
        margin-left: 35%;
    }

    .barraBusqueda{
        width: 35% !important;
    }

    .usu {
        margin-top: 11.3% !important;
    }

    .menu-escondido {
        margin-left: -10%;
    }

    /*home*/


    ._pedidos_proceso {
        width: 115%;
        margin-left: -1%;
    }



    .espacio_folio-ppe {
        margin-left: -2%;
    }

    .caja_folio-ppe {
        width: 18%;
        margin-left: -1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja_total-ppe {
        width: 20%;
        margin-left: 8%;
    }

    .caja_acciones-ppe {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .espacio_total-ppe {
        margin-left: 3%;
    }

    .btn-ver_pedido-ppe {
        margin-left: 1%;
        padding: 10px 20px;

    }

    .btn-ver_pedido-ppr {
        white-space: nowrap;
        padding: 10px;
        margin-left: 8%;
    }


    .caja_info-ppr {
        margin-left: -1%;
        width: 115%;
    }

    .pedido_proceso {
        width: 115%;
    }


    .caja_folio-ppr {

        width: 30%;
        margin-left: -3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja_total-ppr {
        width: 30%;
        margin-left: -1%;
    }

    .caja_acciones-ppr {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .espacio_folio-ppr {
        margin-left: -4%;
    }

    /*pedidos*/
    .container {
        width: 100%;

    }

    .progress-barp {
        margin-left: 70%;
    }

    .progress-baro {
        margin-left: 70%;
    }

    .btn-l1 a {
        padding: 2%;
        width: 25%;
        margin-left: 10%;
        margin-top: -15%;
    }

    .btn-l2 a {
        padding: 1%;
        width: 25%;
        margin-left: 10%;
    }
}

/*responsivo para pantalla de 500 a 1048 pixeles (cuando se rompe)*/
@media only screen and (min-width: 450px) and (max-width: 768px) {

    .btn-ver2_pedido-ppe {
        padding: 10px 25px !important;
        margin-left: 2% !important;
    }

    .b-To-to{
        
        margin-top: -18% !important;
        margin-bottom: 20% !important;
    }

    .barraBusqueda {
        height: 50%;
        width: 30%;
        margin-left: 10% !important;
        position: absolute;

    }

    .icono_usuario {
        display: inline;
    }


    .menu-escondido {
        margin-left: -20%;
    }

    /*home*/


    ._pedidos_proceso {
        width: 115%;
        margin-left: -1%;
    }



    .espacio_folio-ppe {
        margin-left: -2%;
    }

    .caja_folio-ppe {
        width: 25%;
        margin-left: -1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja_total-ppe {
        width: 25%;
        margin-left: 3%;
    }

    .caja_acciones-ppe {
        margin-left: 2%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .espacio_total-ppe {
        margin-left: 3%;
    }

    .btn-ver_pedido-ppe {
        margin-left: 2%;
        padding: 10px 20px;

    }

    .btn-ver_pedido-ppr {
        white-space: nowrap;
        padding: 10px;
        margin-left: 8%;
    }


    .caja_info-ppr {
        margin-left: -1%;
        width: 115%;
    }

    .pedido_proceso {
        width: 115%;
    }


    .caja_folio-ppr {

        width: 30%;
        margin-left: -3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja_total-ppr {
        width: 30%;
        margin-left: -1%;
    }

    .caja_acciones-ppr {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .espacio_folio-ppr {
        margin-left: -4%;
    }

    /*pedidos*/
    .container {
        width: 100%;

    }

    .progress-barp {
        margin-left: 70%;
    }

    .progress-baro {
        margin-left: 70%;
    }

    .btn-l1 a {
        padding: 2%;
        width: 35%;
        margin-left: 10%;
        margin-top: -20%;
    }

    .btn-l2 a {
        padding: 1%;
        width: 25%;
        margin-left: 10%;
    }

    .nombre_pedidos_pendientes {
        color: white;
        background: black;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
    }

    .usu {
        margin-top: 13% !important;
    }
}

@media only screen and (min-width: 438px) and (max-width: 640px) {

    .espacio_folio-ppe {
        margin-left: -2% !important;
    }


    .usu {
        margin-top: 13% !important;
    }

    .btn-ver2_pedido-ppe {
        padding: 10px 10px !important;
        margin-left: 2% !important;
    }

    .barraBusqueda {
        height: 50%;
        width: 30%;
        margin-left: 12% !important;
        position: absolute;

    }

    .icono_usuario {
        display: inline;
    }


    .menu-escondido {
        margin-left: -40%;
    }

    /*home*/


    ._pedidos_proceso {
        width: 115%;
        margin-left: -1%;
    }



    .espacio_folio-ppe {
        margin-left: -2%;
    }

    .caja_folio-ppe {
        width: 18%;
        margin-left: -1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja_total-ppe {
        width: 25%;
        margin-left: 2%;
    }

    .caja_acciones-ppe {
        margin-left: 2%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .espacio_total-ppe {
        margin-left: 3%;
    }

    .btn-ver_pedido-ppe {
        margin-left: 2%;
        padding: 10px 10px;

    }

    .btn-ver_pedido-ppr {
        white-space: nowrap;
        padding: 10px;
        margin-left: 8%;
    }


    .caja_info-ppr {
        margin-left: -1%;
        width: 115%;
    }

    .pedido_proceso {
        width: 115%;
    }


    .caja_folio-ppr {

        width: 30%;
        margin-left: -3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja_total-ppr {
        width: 30%;
        margin-left: -1%;
    }

    .caja_acciones-ppr {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .espacio_folio-ppr {
        margin-left: -4%;
    }

    /*pedidos*/
    .container {
        width: 100%;

    }

    .progress-barp {
        margin-left: 55%;
    }

    .progress-baro {
        margin-left: 70%;
    }

    .btn-l1 a {
        padding: 2.2%;
        width: 40%;
        margin-left: 10%;
        margin-top: -20%;
    }

    .btn-l2 a {
        padding: 1%;
        width: 25%;
        margin-left: 10%;
    }

    .nombre_pedidos_pendientes {
        color: white;
        background: black;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
    }
}



@media(min-width: 1538px) {
    .usu {
        margin-top: 6.2% !important;
    }
    .caja_total-ppe {
        width: 22%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background: rgb(120, 168, 203);
        border-radius: 10px;
        font-weight: 700;
        margin-left: 6%;
    }

    .caja_acciones-ppe {
        width: 740px;
    }

}
@media (min-width: 820px){
    .b-To-to {
        margin-top: -15.8% !important;
        margin-bottom: 18% !important;
    }
}
@media (min-width: 912px){
    .b-To-to {
        margin-top: -14.9% !important;
        margin-bottom: 17% !important;
    }
}
@media (max-width: 540px){
    .b-To-to {
        margin-top: -24.5% !important;
        margin-bottom: 26% !important;
        margin-right: 30% !important;
    }
}
@media(min-width: 1793px) {
    .usu {
        margin-top: 6% !important;
    }



}




@media(max-width: 1020px) {

    .usu {
        margin-top: 11%;
    }
}


.barraBusqueda {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 22px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 2px;
    margin-right: 20px;
    margin-left: -500px;
    width: 22%;
}

.iconoBusqueda {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.busBox {
    border: none;
    outline: none;
    border-radius: 25px;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

.no-ped {
    align-content: center;
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
}
.subtitulo {
    color: white;
    background: rgb(0, 0, 0);
    width: 210%;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.conqr {
    width: 120%;
    height: 450px;
    background-color: white;
    border: 3px solid black;
    margin-left: 45%;
    margin-top: 5%;
    border-radius: 10px;
}

.img-fluid{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.rol_usuario {
    height: 30px;
    background-color: rgb(186, 216, 249);
    padding: 0 5%;   
}

.rol_caja {
    font-size: 20px;
    display: inline-block;
    line-height: 30px;
}