<!-- Muestra informacion acerca del equipo -->
<style>.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}</style>
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="fw-light">Hecho por</h1>
        <p class="lead">El equipo rocket</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5" style="background-color: white;">
  <div class="container">
    <h2 class="fw-light">Profe tengo sueño</h2>
    <br>
    <p>Es toy sufriendo insomnio y aqui sigo.</p>
    <br>
    <p>Atentamente yo arriba el necaxa.</p>
  </div>
</section>